@import "tailwindcss";
@theme {
  --color-pramary-dark-blue: #08081f;
  --color-text-color: #ebe6e6;
  --color-body-color: rgb(26, 24, 58);
}
:root {
  --padding-left: 12px;
  --padding-top: 12px;
  --padding-right: 12px;
  --padding-bottom: 12px;
  --text-color: #ebe6e6;
  --body-color: rgb(26, 24, 58);
}
body {
  background-color: rgb(26, 24, 58);
  min-width: 1200px;
  max-width: 1800px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.pointer {
  cursor: pointer;
}
.component-spacing {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
}
input:focus {
  outline: none;
  color: var(--text-color);
}
.min16Max18px {
  font-size: clamp(16px, 4vw, 18px);
}
.min18Max22px {
  font-size: clamp(18px, 4vw, 22px);
}
.min14Max17px {
  font-size: clamp(14px, 4vw, 17px);
}
.min20Max24px {
  font-size: clamp(20px, 4vw, 24px);
}
